<div class="row offset-md-1">
    <div class="col-sm-12 col-md-3">
        <div class="card" *ngFor="let area of places | async">
            <div class="card-body">
                <h5 class="card-title">{{area.name}}</h5>
                <p class="card-text">{{area.description}}</p>
                <button (click)="viewArea(area)" class="btn btn-primary">Check</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="card">
            <div class="card-body">
                <div #mapContainer id="map"></div>
            </div>
        </div>
    </div>
</div>


<ng-template #dangerTpl>
    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
        <path
                d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"/>
    </svg>
    Slot already Booked. Sorry!
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Booking Confirmation</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong></p>
        <p>All information associated to this user profile will be permanently deleted.
            <span class="text-danger">This operation can not be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-success" (click)="modal.close('Ok click')">Ok</button>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
