<div class="row offset-md-2">
    <div class="col-md-10 col-sm-12">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title text-center">Feedback Form</h4>
            </div>
            <div class="card-body ">
                <div class="form-group">
          <textarea
                  class="form-control"
                  name="email"
                  type="text"
                  rows="8"
                  required="true">
          </textarea>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
